.about {
  background-color: #e9ecef;
  height: 500px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.about__header {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.about__content {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
