/* * {
  box-sizing: border-box;
} */
.events {
  /* background-color: #f8f9fa; */
  height: 100vh;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}
.events__header {
  font-size: 36px;
  font-weight: 500;
  color: black;
}
.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
/* .bootcamp_box {
  background-color: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
} */
.bootcamp {
  width: 500px;
  height: 200px;
}
.box {
  transition: box-shadow 0.3s;
  width: 500px;
  height: 320px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  /* background: #fff; */
  float: left;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.more {
  text-decoration: dashed;
  color: white;
}
a:link {
  text-decoration: none;
}
.bttn {
  display: inline-block;
  background-color: #365b6d;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  border: none;
  padding: 15px 15px;
  /* padding: 1.25rem 4.5rem; */
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
  /* margin-right: 220px;
  margin-top: 30px; */
  text-decoration: none;
}

.info {
  margin-right: 50px;
  margin-top: 10px;
}
/* .register {
} */
