/* .timeline {
  display: flex;
  flex-direction: row;
} */
* {
  margin: 0;
  padding: 0;
}

.events {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
  /* height: 1000px; */
  margin-bottom: 100px;
}
.time {
  display: flex;
  /* min-height: 1500px; */
  background-color: #f8f9fa;
}
.one {
  margin-right: 100px;
}
h1 {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1500px) {
  .time {
    display: block;
    margin: 0 auto;
  }
  /* .one {
    align-items: center;
    text-align: center;
  } */
  .ishir {
    margin: 0 auto;
  }
  .events {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .events {
    min-height: 1200px;
  }
}
