.team {
  background-color: #e9ecef;
  /* width: 100vw; */
  height: 100vh;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  /* padding-left: 5px;
  padding-right: 5px;  */
}

.team__header {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 1%;
}

.column {
  float: left;
  width: 25%;
}

.row {
  display: flex;
}
@media (max-width: 1200px) {
  .team {
    height: 1200px;
  }
  .column {
    width: 50%;
  }
  .row {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .column {
    width: 100%;
  }
  .team {
    height: 2400px;
  }
}
